# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here

# Resend Email Configuration
RESEND_API_KEY=your_resend_api_key_here

# JWT Secret for user authentication
JWT_SECRET=your_super_secret_jwt_key_here

# Netlify Configuration
NETLIFY_SITE_ID=your_netlify_site_id_here
NETLIFY_ACCESS_TOKEN=your_netlify_access_token_here

# App Configuration
NODE_ENV=development
NUXT_PUBLIC_SITE_URL=http://localhost:3000

# Admin Configuration
ADMIN_EMAIL=your_admin_email@domain.com

# domain
dev-hwru7mq43np63pk4.us.auth0.com

# client ID
BN6lolGjUxfaeqOghS1SpgUghvIQIdod

# client Secret
NdkJ-rk8CcwSJFX6EBx3WWsV0JmHr6c0pQUigYmlMEiW-vLY1N5NE9SupwFbrORP